body{
    font-family: Arial, Helvetica, sans-serif;
}

.task-list{
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
    &__item{
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid gray;
        &:hover{
            background-color: gray;
            color: white;
        }
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
}

.task-item{
    display: flex;
    $self: &;
    &__text{

    }
    &__controll{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    &__time{
        display: none;
    }
    &__btn{
        font-size: 0.75rem;
        border: 1px solid black;
        padding: 2px 4px;
    }
    &:hover{
        #{$self}__controll{
            display: flex;
        }
        #{$self}__wrapper{
            display: none;
        }
    }
}