body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2A2A2A;
    color: #ffffff;
    padding: 1rem;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
}

.task-list{
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
    &__item{
        padding: 1rem;
        border-radius: 6px;
        border: 1px solid #414141;
        &:hover{
            background-color: #414141;
            color: white;
        }
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
}

.task-item{
    display: flex;
    $self: &;
    &__text{

    }
    &__controll{
        display: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    &__time{
        display: none;
    }
    &__icon{

    }
    &__icon-description{
        display: none;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75rem;
        padding: 4px 8px;
        background-color: #838383;
        border-radius: 55px;
        margin: 0 2px;
        &:hover{
            #{$self}__icon-description{
                display: block;
            }   
            #{$self}__icon{
                margin-right: 5px;
            }    
        }
    }
    &:hover{
        align-items: center;
        justify-content: center;
        #{$self}__controll{
            display: flex;
        }
        #{$self}__wrapper{
            display: none;
        }
        
        
    }
}

.add-task{
    color: #C2C2C2;
    font-weight: 600;
}